
<h2>
    {{text}}
</h2>

{{#each comic}}

<div class="card">
    <div class="card-body" data-id={{_id}}>

        <div class="card-title">
            <h5>
                {{comic}}
            </h5>
        </div>

        <img class="card-img-bottom"  src={{img}} alt={{comic}}>
    </div>
</div>
<br>

{{/each}}

<button class="btn btn-info" id="retrieve">Get Today's Comics</button>

<script>
    let selection = localStorage.getItem("selection");

    $(document).on("click", "#retrieve", function () {
        $.get("/scrape", function (data) {
            setTimeout(function () {
                location.reload();

            }, 2000);

        })
    })

    $(document).on("click", ".card-body", function () {
        const id = $(this).data("id");
        window.location = `/comic/${id}`
    })
</script>