{{!-- Todo have user put in name and then have a "save" button for the current selection, send to Mongo with information --}}

{{!-- <form>
    <label for="Username">Pull up your account (case sensitive)</label>
    <div class="input-group mb-3">
        <input type="text" name="Username" class="form-control" placeholder="Username" aria-label="Username"
            aria-describedby="basic-addon1">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Submit</button>
        </div>
    </div>
</form> --}}

<h3>Comics Selection</h3>

<input type="text" id="myInput" onkeyup="filterList()" placeholder="Search for a comic" title="Type in a comic">

<div class="row">
    <div class="col-md-6">
        <ul id="selectionList">
            {{#each types}}
            {{#if selected}}
            <li>
                <input class="form-check-input" type="checkbox" data-link={{link}} data-title="{{title}}" id={{link}}
                    checked>
                <label class="form-check-label" for={{link}}>
                    {{title}}
                </label>
            </li>
            {{else}}
            <li>
                <input class="form-check-input" type="checkbox" data-link={{link}} data-title="{{title}}" id={{link}}>
                <label class="form-check-label" for={{link}}>
                    {{title}}
                </label>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
        <div class="card selectionBox">
            <div class="card-body">
                <h5 class="card-title">Current Selection</h5>
                <p class="display card-text"></p>
                <button class="btn btn-primary">Show Comics</button>
            </div>
        </div>
    </div>
</div>
</div>

<script>



    let selection = JSON.parse(localStorage.getItem("selection"));
    if (selection === null) {
        selection = [];
    }
    let titles = JSON.parse(localStorage.getItem("titles"));
    if (titles === null) {
        titles = [];
    }

    $(".display").text(titles)

    $(".form-check-input").on("change", function () {

        let link = $(this).data("link");
        let title = $(this).data("title");

        if (selection.includes(link)) {
            for (var i = 0; i < selection.length; i++) {
                if (selection[i] === link) {
                    selection.splice(i, 1);
                }
            }
        } else {
            selection.push(link);
        }
        if (titles.includes(title)) {
            for (var i = 0; i < titles.length; i++) {
                if (titles[i] === title) {
                    titles.splice(i, 1);
                }
            }
        } else {
            titles.push(title);
        }

        $(".display").text(titles)


        localStorage.setItem("titles", JSON.stringify(titles));
        localStorage.setItem("selection", JSON.stringify(selection));
    })

    function filterList() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("selectionList");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("label")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>