<div class="row">
    <div class="col-md-6">
        <ul>
            {{#each types}}
            <div class="form-check">
                {{#if selected}}
                <input class="form-check-input" type="checkbox" data-link={{link}} id={{link}} checked>
                <label class="form-check-label" for={{link}}>
                    {{title}}
                </label>
                {{else}}
                <input class="form-check-input" type="checkbox" data-link={{link}} id={{link}}>
                <label class="form-check-label" for={{link}}>
                    {{title}}
                </label>
                {{/if}}
            </div>
            {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
        <div class="float">
            Current Selection
            <div class="display"></div>
        </div>
    </div>
</div>

<script>

    let selection = JSON.parse(localStorage.getItem("selection"));
    if (selection === null) {
        selection = [];
    }

    $(".display").text(JSON.stringify(selection))

    $(".form-check-input").on("change", function () {

        let link = $(this).data("link");

        if (selection.includes(link)) {
            for (var i = 0; i < selection.length; i++) {
                if (selection[i] === link) {
                    selection.splice(i, 1);
                }
            }
        } else {
            selection.push(link);
        }

        $(".display").text(JSON.stringify(selection))


        localStorage.setItem("selection", JSON.stringify(selection));
    })
</script>